@charset "utf-8";


*{margin:0;padding: 0;}
body{font-family: "Microsoft YaHei";  font-size: 100%;}
a{text-decoration: none;}
.bbs{width: 100%;height: auto;position: absolute;z-index: 10;  left: 0;background:rgba(117,204,110,1);bottom:0;color: #fff;}
.bbs img{width: 100%;}
.bbsn,.bbsn2{width: 100%;height: auto;z-index: 10; background:rgba(117,204,110,0.8);color: #fff;}
.bbsn{position: absolute; left: 0;top:0;}
.bbsn2{position: absolute; left: 0;bottom:0;}
.bbsn img,.bbsn2 img{width: 100%;}
.bbsn div,.bbsn2 div{width:90%;border: 1px solid #e2e2e2;background: #fff;color: #eeecec;text-align: left;padding-left: 2%;}
.bbsb{width:90%;position: absolute; left: 0;text-align: left;padding-left: 5%;color: #808080;}
.bsl1{width: 100%;float: left;}
.bsl3{width: 100%;float: left;}
.bsl3 div{float: left;}
.wc1{width: 94%;margin :0 3%;}
.wcl{text-align: left;}
.wcr{text-align: right;}
.wcl,.wcr{width: 50%;display: table-cell;vertical-align: middle;}
.wcl img,.wcr img{vertical-align: middle;}
.wcl a,.wcr a{color: #fff;}

.slt{width: 20%;text-align:right;float: left;}
.slt img{border-radius: 50px;}
.srt{width:80%;text-align: left;float: left;}
.srt span{display: block;width: 95%;margin-left: 5%;}



.Top_Record{width: 100%;position: absolute;z-index: 10;  left: 0;}
.topRec_List .maquee{ width:100%;  margin:0 auto; color:#7C7C7C}
.topRec_List ul{ width:100%;list-style: none!important; overflow: scroll;  display: block;  list-style-type: disc;  -webkit-margin-before: 0;  -webkit-margin-after: 0;  -webkit-margin-start: 0;  -webkit-margin-end: 0;  -webkit-padding-start: 0;}
.topRec_List li{ width:100%; text-align:center;  }
.topRec_List li>div{ width: 90%;margin: 0 auto;text-align: left;background: #f7f7f7;}
.ptitle{width: 100%;padding-left: 5%;padding-top:5%;background: #fff;}
.ptitle div{margin-left: 2%;float: left;}
.ptx{width: 9%!important;padding: 0;}


.hid{display: none;}
.tcb{width: 100%;height: 100%;background: rgba(0,0,0,0.6);position: absolute;top: 0;left:0;z-index:30;}
.tct{width: 80%;margin: 40% auto auto auto;background: #fff;border: 1px solid #76d461;}
.tct div{float: left;}
.fline{width: 100%;text-align: center;background: #76d461;}
.fline div{width: 33%;color: #fff;}
.tcin{width: 100%;text-align: left;overflow: scroll;}



@media screen and (max-width: 4096px) and (min-width: 801px) {
    .bbs{height: 18.5rem;line-height: 18.5rem;}
    .bbsn,.bbsn2{height: 15.75rem;line-height: 15.75rem;}
    .bbsn div,.bbsn2 div{height: 7.75rem;line-height: 7.75rem;font-size: 2.25rem;margin: 4rem auto 4rem auto;border-radius: 20px;}
    .bbsb{width:90%;bottom: 92rem;font-size: 2.265rem;height: 5rem;line-height: 5rem;}
    .bsl1,.bsl2,.bsl3{height:8.8rem;line-height: 8.8rem;}
    .wc1,.wcl,.wcr{height: 4.4rem;line-height: 4.4rem;font-size: 42px;}
    .wcl img,.wcr img{width:46px;height: 46px;}

    .slt{height:8.75rem;line-height: 8.75rem;}
    .srt{height:8.75rem;line-height: 8.75rem;}
    .slt img{width: auto;height:7.75rem;margin: .5rem 0 0 0;}
    .srt span{height: 4.375rem;line-height: 4.375rem;font-size: 2.375rem;}
    .dz img{width: auto;height: 2.2rem;margin-bottom: -6px;}
    .fx img{width: auto;height: 2.2rem;margin-bottom: -6px;}
    .bct a{font-size:2.375rem;}
    .Top_Record{bottom:22rem;}
    .topRec_List ul{ height:70rem;}
    .topRec_List li{  height:auto; font-size:2rem; }
    .topRec_List li>div{  max-height:28rem;min-height:4rem;line-height:4rem; }
    .ptitle{height:7rem;line-height: 7rem!important;}
    .ptitle div{height:7rem;line-height: 7rem!important;font-size: 2.125rem;}
    .ptx img{margin-top:15px;width: 82px;height: 82px;}

    .tct{height: 34.75rem;line-height: 34.75rem;border-radius: 20px;font-size: 2.5rem;}
    .fline{height: 7.5rem;line-height:7.5rem;border-top-left-radius: 20px;border-top-right-radius:20px;}
    .tcin{height: 27.25rem;line-height: 3.75rem;}
}

@media screen and (max-width: 800px) and (min-width: 491px) {
    .bbs{height: 13rem;line-height: 13rem;}
    .bbsn,.bbsn2{height: 11rem;line-height: 11rem;}
    .bbsn div,.bbsn2 div{height: 5.2rem;line-height: 5.2rem;font-size: 1.5rem;margin: 2.4rem auto 2.4rem auto;border-radius: 10px;}
    .bbsb{width:90%;bottom: 49.6rem;font-size: 2rem;height: 3.5rem;line-height: 3.5rem;}
    .bsl1, .bsl2, .bsl3{height:5.9rem;line-height: 5.9rem;}
    .wc1,.wcl,.wcr{height: 2.95rem;line-height: 2.95rem;font-size: 28px;}
    .wcl img,.wcr img{width:30px;height: 30px;}

    .slt{height:5.8125rem;line-height: 5.8125rem;}
    .srt{height:5.8125rem;line-height: 5.8125rem;}
    .slt img{width: auto;height: 5.0125rem;margin: .4rem 0 0 0;}
    .srt span{height: 2.90625rem;line-height: 2.90625rem;font-size: 1.625rem;}
    .dz img{width: auto;height: 2rem;margin-bottom: -4px;}
    .fx img{width: auto;height: 2rem;margin-bottom: -4px;}
    .bct a{font-size:1.625rem;}
    .Top_Record{bottom:13.5rem;}
    .topRec_List ul{ height:36.25rem;}
    .topRec_List li{  height:auto; font-size:1.25rem; }
    .topRec_List li>div{  max-height:240px;min-height:40px;line-height:40px; }
    .ptitle{height:4.75rem;line-height: 4.75rem!important;}
    .ptitle div{height:4.75rem;line-height: 4.75rem!important;font-size: 1.625rem;}
    .ptx img{margin-top:10px;width: 56px;height: 56px;}

    .tct{height: 23rem;line-height: 23rem;border-radius: 10px;font-size: 1.5rem;}
    .fline{height: 80px;line-height:80px;border-top-left-radius: 10px;border-top-right-radius:10px;}
    .tcin{height: 18rem;line-height: 40px;}
}

@media screen and (max-width: 490px) and (min-width: 319px) {
    .bbs{height: 6.5rem;line-height: 6.5rem;}
    .bbsn,.bbsn2{height: 5rem;line-height: 5rem;}
    .bbsn div,.bbsn2 div{height: 2.5rem;line-height: 2.5rem;font-size: .875rem;margin: 1.25rem auto 1.25rem auto;border-radius: 5px;}
    .bbsb{width:90%;bottom: 29rem;font-size: 1rem;height: 1.8rem;line-height: 1.8rem;}
    .bsl1,.bsl2,.bsl3{height:3rem;line-height: 3rem;}
    .wc1,.wcl,.wcr{height: 1.5rem;line-height: 1.5rem;font-size: 12px;}
    .wcl img,.wcr img{width:16px;height: 16px;}

    .slt{height:2.8rem;line-height: 2.8rem;}
    .srt{height:2.8rem;line-height: 2.8rem;}
    .slt img{width: auto;height: 2.2rem;margin: .3rem 0 0 0;}
    .srt span{height: 1.4rem;line-height: 1.4rem;font-size: .75rem;}
    .dz img{width: auto;height: 1rem;margin-bottom: -2px;}
    .fx img{width: auto;height: 1rem;margin-bottom: -2px;}
    .bct a{font-size:.75rem;}
    .Top_Record{bottom:6.5rem;}
    .topRec_List ul{ height:22.5rem;}
    .topRec_List li{  height:auto; font-size:.75rem; }
    .topRec_List li>div{  max-height:7.5rem;min-height:1.25rem;line-height:1.25rem; }
    .ptitle{height:2.25rem;line-height: 2.25rem!important;}
    .ptitle div{height:2.25rem;line-height: 2.25rem!important;font-size: .75rem;}
    .ptx img{margin-top:5px;width: 26px;height: 26px;}

    .tct{height: 10rem;line-height: 10rem;border-radius: 5px;font-size: .875rem;}
    .fline{height: 36px;line-height:36px;border-top-left-radius: 5px;border-top-right-radius:5px; }
    .tcin{height: 7.75rem;line-height: 30px;}


}