*{padding:0; margin:0;}
html,body{font-family:Microsoft YaHei;margin:0;padding:0;text-decoration:none;}
body{font: 14px/1.5 "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;-webkit-text-size-adjust: none;background:#fff;color:#333;min-width:320px;}
body,div,dl,dt,dd,.mainmenu,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,table{margin:0;padding:0;}
img {max-width:100%;display:block;border:0;vertical-align:middle;}
i,em{font-style:normal}
a{text-decoration:none;/*blur:expression(this.onFocus=this.blur());*/outline:none}
ul,ol,li,dl{list-style-type:none;}

.content{clear:both; padding:10px}
.content .text_a{width: 100%;}
.content .text_a a{display: block;width: 23.5%;float: left; background: #ff756b;text-align: center;color: #fff;line-height: 35px;font-size: 16px;}
.content .text_a a:nth-child(2), .content .text_a a:nth-child(3), .content .text_a a:nth-child(4){margin-left: 2%;}
.content .text_a a.active{background-color: #f9493c;}
.content .match_page {width: 100%;overflow: hidden;}
.content .list_box{position:relative;}
.content .list_box li{width:49.9%;float: left;box-sizing:border-box;margin-bottom: 10px;}
.content .list_box li>div{margin: 0 5px;position: relative;border-radius:5px;background-color:#fff; /*#ff756b;*/}
.content .list_box li>div .number {display: block;width: 70px;height: 30px;background: #ff756b;position: absolute;color: #fff;text-align: center;line-height: 32px;top: 0;right: 4%;}
.content .list_box li>div .number:after {content: '';width: 0;height: 0;position: absolute;top: 30px;right: 0;border-top: 10px solid #ff756b;border-left: 35px solid transparent;border-right: 35px solid transparent;}
.content .list_box li.mr0{margin-right: 0;}
.content .list_box li img{width: 100%;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.content .list_box li a.img{display: block; /*padding: 3px 3px 0;*/}
.content .list_box li a.vote{float: right; width: 38%;margin:7px 2px 7px 0;border-radius: 5px;  height: 50px; line-height: 50px;background: #76d461/*f9493c*/;  color: #fff; font-size: 16px; text-align: center;}
.content .list_box li .voted{float: right; width: 38%;border-radius: 5px;  height: 50px; line-height: 50px;background: #76d461/*f9493c*/;  color: #fff; font-size: 16px; text-align: center;}


.content .list_box li span{display:block;}
.content .list_box li .piao{position:absolute;z-index:1000;top:0;left:0;display:block;background-color:#e4393c;color:#fff;padding:2%;font-size:14px;}
.content .list_box li .tou{ clear:both;/*background-color:#ff756b;*/ color:#808080;/*#fff;*/ height:50px; width:100%;}
.content .list_box li .tou .divP{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;float:left;width:60%; text-indent:0.5em;height:50px;text-align: left;}
.content .list_box li .tou .divP span{ line-height:24px}


.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0; }
.clearfix:after {content: " ";clear: both;display: block;height: 0;visibility: hidden; }




















