@charset "utf-8";

*{margin:0;padding: 0;}
input{border: none;}
html, body {  position: relative;  height: 100%;  }
body {  background: #f1f1f1;  font-family: "Microsoft YaHei";  font-size: 100%;  color: #000;  margin: 0;  padding: 0;  }
a {  text-decoration: none;  }
img {  width: 100%;  }
button{border: none;}

.content .list_box li .voted{background: url("garland.png")no-repeat;background-size: 100%;color: #ff6f5a;}

.ts1 {  background: rgba(118, 212, 97, 0.6);  color: #fff;  position: relative;  z-index: 20; text-align: center; }
.ci {  width: 100%;  background: url("pb.png") no-repeat;  background-size: cover;  }
.ci1 {  width: 100%;  background: url("mb.png") no-repeat;  background-size: cover;  }
.ctt {  width: 100%;  z-index: 100;  }
.ctr {  width: 100%;  float: left;  color: #2dcb83;  text-align: center;  }
.ctr1 {  width: 100%;  float: left;  color: #fff;  text-align: right; padding-right: 8%; }
.ctn {  width: 100%;  float: left;  padding-right: 6%;  }
.cbt {  width: 18%;  float: right;  text-align: center;  }
.cbt a {  display: block;  width: auto;  height: auto;  }

.kb-g{width: 100%;color: #fff;margin-top: 2%;}
.kb-g img{width: 100%;float: left;display: block;height: auto;}
.kb-g>a{width: 100%;background: #76d461;display: block;color: #fff;}
.kb-g div{width: 50%;float: left;}
.kb-g .tlt{text-align: left!important;padding-left: 3%;}
.kb-g .trt{text-align: right!important;padding-right: 3%;}
.kb-g:after{clear: left;}

.thrl {  width: 100%;  }
.item {  width: 30%;  float: left;  }
.item a {  width: 100%;  display: block;  }
.item img {  width: 100%;  }
.item div {  width: 100%;  float: left;  }
.jj {  width: 2.5%;  float: left;  }
.l1 {  height: auto;  }
.l2 {  background: #fff;  text-align: center;  color: #808080;  }

.content-wrap section{padding: 0;}
.content{padding: 5px;}
.sbox{width: 96%;margin:0 auto;}
.sin{width: 80%;float: left;background: #fff;border: 1px solid #DCDCDC;  }
.sin .img1{float: left; }
.sin input{float: left;display: block;border: none;width: 88%; }
.sbox button{float: left;display: block;width: 19%;background: #76d461;border: 1px solid #76d461;  margin-left: 1%;color: #fff;}
.pages{width: 100%;color: #545454;}
.lp,.rp{width: 50%;float: left;}
.lp{padding-left: 20%;}
.rp{padding-right: 20%;}



.hid{display: none;}
.tcb{width: 100%;height: 100%;background: rgba(0,0,0,0.9);position: fixed;top: 0;left:0;z-index:30;color: #fff;overflow:scroll;}

.tpt{width: 100%;text-align: center; }
.tpc{width: 100%;margin-bottom:8%; }
.tpc>div{float:left;height:100%;line-height:100%; }
.tpcl{width: 45%;margin-right: 10%;text-align: right;}
.tpcr{width: 45%;text-align: left;}
.tpcr>div{height: 50%;}


.is{width: 80%;margin:0 auto 5% auto;background: #76d461;display: block;color: #fff;}
.is>div{float: left;}
.tp {text-align: right;width: 40%;margin-right: 5%;}
.tp::after {clear: left;}
.tp img{display: inline;/*float: right;*/}
.isc {text-align: left;width: 55%;}
.tips{width: 80%;}
.ggw{width: 80%;margin:0 auto 18% auto;}
.ggw a{width: 100%;height: auto;display: block;}


/*add*/
.infoc{width: 60%;margin: 0 auto 4% auto;display: block;background: rgba(255,255,255,0.5);padding: 0 4%;}
.infos{width: 60%;margin: 2% auto 15% auto;background: #76d461;text-align: center;}
.intips{width: 60%;margin: 0 auto;}



@media screen and (max-width: 4096px) and (min-width: 801px) {
    .content .list_box li .tou,.content .list_box li .tou .divP{ height:122px;}
    .sin input,.sbox button,.content .list_box li>div .number, .content .list_box li .tou .divP span{height:61px;line-height:61px;font-size: 26px;}
    .content .list_box li a.vote{height: 82px; line-height: 82px;margin:23px 10px 23px 0; font-size: 36px; }
    .content .list_box li .voted{width:114px;height:90px;line-height: 90px;margin:16px 10px 16px 0; font-size: 32px;}

    .ts1 {  margin-top: -76px;height: 76px;line-height: 76px; font-size: 2.25rem; }
    .ci,.ci1 {  width: 100%;  height: 33rem;  }
    .ctt {  height: 33rem;  }
    .ctr,.ctr1 {  height: 20rem;  line-height: 20rem;  font-size: 5.125rem;  }
    .ctn {  height: 9.5rem;  line-height: 9.5rem;  padding: 1rem 0 1rem 0;  }
    .ctn img {  height: 7.5rem;  width: auto;  }
    .kb-g>a{height: 120px;line-height: 120px;font-size: 48px;}
    .thrl {  margin: 1.875rem 0;  height: 23.75rem;  line-height: 23.75rem;  }
    .item {  height: 23.75rem;  line-height: 23.75rem;  }
    .item a {  height: 23.75rem;  line-height: 23.75rem;  }
    .l1 {  height: 18.5rem;  }
    .l1 img {  border-top-left-radius: 20px;  border-top-right-radius: 20px;  }
    .l2 {  height: 5.25rem;  line-height: 5.25rem;  border-bottom-left-radius: 20px;  border-bottom-right-radius: 20px;  font-size: 45px;  }
    .sbox{width: 96%;margin:0 auto 10px auto;height: 100px;}
    .sin{width: 80%;float: left; border-radius: 20px;}
    .sin .img1{width: 90px;height: 100px;float: left; }
    .sin img{width: 40px;margin:31px 0 31px 25px;float: left; }
    .sin input,.sbox button{height:100px;line-height: 100px; }
    .sbox button{border-radius: 20px; }
    .pages,.lp,rp{height:11.375rem;line-height:11.375rem;font-size: 2.75rem;}

    .tpt{height:9rem;line-height: 9rem; font-size: 3.625rem; margin-top:18%;}
    .tpc{height: 5.875rem;line-height: 5.875rem;}
    .tpcl{font-size: 5.875rem;}
    .tpcr{height:50%;line-height:50%;font-size: 2.9375rem;}
    .is {height: 122px;line-height: 122px;text-align: center;border-radius: 20px;}
    .is>div{height: 122px;line-height: 122px;}
    .tp img{width: 64px;}
    .isc{font-size:2.75rem; }
    .tips{margin:10% auto 4% auto;font-size:1.75rem;}


    .infoc,.infos,.intips{height: 92px;line-height: 92px;border-radius: 20px;}
    .infoc,.intips{font-size: 2.25rem;}
    .infos{font-size: 2.75rem;}
}

@media screen and (max-width: 800px) and (min-width: 491px) {
    .content .list_box li .tou,.content .list_box li .tou .divP{ height:82px;}
    .sin input,.sbox button,.content .list_box li>div .number, .content .list_box li .tou .divP span{height:41px;line-height:41px;font-size: 18px;}
    .content .list_box li a.vote{height: 56px; line-height: 56px;margin:13px 4px 13px 0; font-size: 26px; }
    .content .list_box li .voted{width:76px;height:68px;line-height: 68px;margin:9px 6px 5px 0; font-size: 26px;}

    .ts1 {  margin-top: -50px;height: 50px;line-height: 50px; font-size: 1.625rem; }
    .ci,.ci1 {  width: 100%;  height: 22rem;  }
    .ctt {  height: 22rem;  font-size: 1.5rem;  }
    .ctr,.ctr1 { height:12.5rem; line-height: 12.5rem;   font-size: 3.25rem;  }
    .ctn {  height: 6rem;  line-height: 6rem;  padding: .5rem 0 .5rem 0;  }
    .ctn img {  height: 5rem;  width: auto;  }
    .kb-g>a{height: 80px;line-height: 80px;font-size: 32px;}
    .thrl {  margin: 22px 0;  height: 258px;  line-height: 258px;  }
    .item {  height: 258px;  line-height: 258px;  }
    .item a {  height: 258px;  line-height: 258px;  }
    .l1 {  height: 210px;  }
    .l1 img {  border-top-left-radius: 10px;  border-top-right-radius: 10px;  }
    .l2 {  height: 50px;  line-height: 50px;  border-bottom-left-radius: 10px;  border-bottom-right-radius: 10px;  font-size: 20px;  }
    .sbox{width: 96%;margin:0 auto 10px auto;height: 70px;}
    .sin{width: 80%;float: left; border-radius: 10px;}
    .sin .img1{width: 60px;height: 70px;float: left; }
    .sin img{width: 24px;margin:22px 0 22px 18px;float: left; }
    .sin input,.sbox button{height:70px;line-height: 70px; }
    .sbox button{border-radius: 10px; }
    .pages,.lp,rp{height:3.375rem;line-height:7.625rem;font-size: 1.75rem;}


    .tpt{height:6rem;line-height: 6rem; font-size: 2.5rem; margin-top:4%;}
    .tpc{height: 3.75rem;line-height: 3.75rem;}
    .tpcl{font-size: 3.75rem;}
    .tpcr{height:50%;line-height:50%;font-size: 1.875rem;}
    .is {height: 82px;line-height: 82px;text-align: center;border-radius: 10px;}
    .is>div{height: 82px;line-height: 82px;}
    .tp img{width: 42px;}
    .isc{font-size:1.75rem; }
    .tips{margin:4% auto 4% auto;font-size:1.125rem;}


    .infoc,.infos,.intips{height: 62px;line-height: 62px;border-radius: 10px;}
    .infoc,.intips{font-size: 1.5rem;}
    .infos{font-size: 2rem;}


}

@media screen and (max-width: 490px) and (min-width: 319px) {
    .content .list_box li .tou,.content .list_box li .tou .divP{ height:50px;}
    .sin input,.sbox button,.content .list_box li>div .number, .content .list_box li .tou .divP span{font-size: 12px;}
    .content .list_box li a.vote{height: 36px; line-height: 36px;margin:7px 2px 7px 0; font-size: 16px; }
    .content .list_box li .voted{width:48px;height:36px;line-height: 36px;margin:7px 2px 7px 0;font-size: 16px;}

    .ts1 {  margin-top: -24px;height: 24px;line-height: 24px;font-size: .75rem;  }
    .ci,.ci1 {  width: 100%;  height: 10rem;  }
    .ctt {  height: 10rem;  }
    .ctr,.ctr1 {  height: 6rem;  line-height: 6rem;  font-size: 24px;  }
    .ctn {  height: 4rem;  line-height: 30px;  padding: .5rem 0 .5rem 0;  }
    .ctn img {  height: 3rem;  width: auto;  }
    .kb-g>a{height: 40px;line-height: 40px;font-size: 14px;}
    .thrl {  margin: 10px 0;  height: 8.2rem;  line-height: 8.2rem;  }
    .item {  height: 8.2rem;  line-height: 8.2rem;  }
    .item a {  height: 8.2rem;  line-height: 8.2rem;  }
    .l1 {  height: 5.8rem;  }
    .l1 img {  border-top-left-radius: 5px;  border-top-right-radius: 5px;  height: 5.8rem;  }
    .l2 {  height: 2.4rem;  line-height: 2.4rem;  border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;  font-size: 12px;  }
    .sbox{width: 96%;margin:0 auto 5px auto;height: 30px;}
    .sin{width: 80%;float: left; border-radius: 5px;}
    .sin .img1{width: 28px;height: 30px;float: left; }
    .sin img{width: 14px;margin:7px 0 7px 7px;float: left; }
    .sin input,.sbox button{height:30px;line-height: 30px; }
    .sbox button{border-radius: 5px; }
    .pages,.lp,rp{height:3.375rem;line-height:3.375rem;font-size: .875rem;}


    .tpt{height:3rem;line-height: 3rem; font-size: 1.125rem;margin-top:18%; }
    .tpc{height: 1.875rem;line-height: 1.875rem;}
    .tpcl{font-size: 1.75rem;}
    .tpcr{height:50%;line-height:50%;font-size: .875rem;}
    .is {height: 38px;line-height: 38px;text-align: center;border-radius: 5px;}
    .is>div{height: 38px;line-height: 38px;}
    .tp img{width: 20px;}
    .isc{font-size:.875rem; }
    .tips{margin:4% auto 4% auto;font-size: .75rem;}

    .infoc,.infos,.intips{height: 38px;line-height: 38px;border-radius: 5px;}
    .infoc,.intips{font-size: .75rem;}
    .infos{font-size: .875rem;}


}